@font-face {
      font-family: "Logo";
      src: url("assets/website/BulletproofBB.ttf") format("truetype");
}

:root {
      --background-color: hsl(230, 10%, 20%);
      --header-color: hsl(230, 15%, 15%);
      --header-secondary-color: hsl(230, 20%, 25%);
      --navigation-background-color: hsl(230, 15%, 12%);
      --pattern-background-color: hsl(230, 10%, 30%);
      --disabled-text: hsl(230, 5%, 70%);
}

p {
      font-size: 16px;
      font-weight: 100;
}

.bold {
      font-weight: bold;
}

html {
      font-family: "Open Sans", sans-serif;
      font-weight: 100;
      color: whitesmoke;
      background-color: var(--background-color);
}

img {
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
}

input {
      margin: 10px;
}

#search-controls-container {
      display: block;
}

#tag-inputs,
#search-controls {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      padding: 5px;
      flex-wrap: wrap;
      font-size: 12px;
}

.tag-input {
      padding: 0px;
      margin: 5px;
      padding-left: 10px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      background-color: var(--header-secondary-color);
      border-radius: 5px;
      font-size: 14px;
}

#game-select,
#search {
      padding: 0px;
      margin: 5px;
      padding-left: 5px;
      background-color: whitesmoke;
      border-radius: 5px;
      border-width: 0;
      width: 150px;
}

#show-favo-button {
      padding: 0px;
      margin: 5px;
      padding-left: 5px;
      border-radius: 5px;
      border-width: 0;
      width: 40px;
      background-color: transparent;
}

.header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--header-color);
      z-index: 999;
}

.header-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
}

.logo {
      display: flex;
      font-weight: 100;
      padding: 10px;
      margin: 0;
}

.logo img {
      -webkit-filter: drop-shadow(-10px -5px 20px black);
      filter: drop-shadow(-10px -5px 20px black);
}

#logo-icon {
      align-self: center;
      height: 141px;
      margin-right: 5px;
}

.logo h1 {
      font-family: "Logo", sans-serif;
      font-size: 40px;
      font-weight: 100;
      text-shadow: black 5px -5px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 200px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      margin-right: 20px;
      margin-top: 0;
      margin-bottom: 0;
}

#navigation {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      flex-direction: row;
      background-color: var(--navigation-background-color);
      border-radius: 10px;
      padding-left: 10px;
}

.hide {
      display: none;
}

#patterns-container {
      display: flex;
      justify-content: first baseline;
      align-items: flex-start;
      flex-wrap: wrap;
      /* padding-top: 40px; */
      padding-left: 15px;
}

.pattern-element {
      margin: 15px;
      background-color: var(--pattern-background-color);
      box-shadow: 0px 0px 20px hwb(0 0% 100% / 0.3);
}

.pattern-img-container {
      position: relative;
      min-width: 220px;
      min-height: 120px;
      overflow: hidden;
}

.pattern-img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Adjust to your desired behavior */
}

.pattern-element h2 {
      margin: 10px;
      padding-left: 5px;
      font-weight: 100;
      font-size: 16px;
}

.tag-box {
      margin: 10px;
      text-transform: capitalize;
      display: flex;
}

.tag-element {
      margin-right: 5px;
      font-weight: 500;
}

.inactive-tag {
      color: var(--disabled-text);
      font-weight: 50;
}

.loading-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75); /* Grey-ish transparency */
      display: flex;
      align-items: center;
      justify-content: center;
}

.loading-text {
      color: white;
      font-size: 20px;
}

.loader {
      border: 4px solid #f3f3f3; /* Set the border width and color */
      border-top: 4px solid transparent; /* Set the color of the spinner */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite; /* Apply the rotation animation */
}

@keyframes spin {
      0% {
            transform: rotate(0deg);
      }
      50% {
            transform: rotate(180deg);
      }
      100% {
            transform: rotate(360deg);
      }
}

.share-button {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      background-color: hsla(0, 0%, 0%, 0.3);
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
}

.share-button:hover,
.favo-button:hover {
      background-color: hsla(0, 0%, 50%, 0.5);
}

.share-button img {
      width: 30px;
      height: 30px;
}

.favo-button {
      position: absolute;
      top: 60px;
      right: 5px;
      padding: 5px;
      background-color: hsla(0, 0%, 0%, 0.3);
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
}

.favo-button img {
      width: 30px;
      height: 30px;
}

.disclaimer {
      padding: 20px;
      margin-bottom: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 1.6;
}

.disclaimer h2 {
      margin: 0px;
      padding: 0px;
      font-size: 32px;
      margin-left: 4px;
}

.disclaimer h3 {
      padding: 0;
      margin: 0;
}

.disclaimer p {
      margin: 0;
      padding: 0;
      margin-top: 5px;
}

#email {
      background-color: var(--header-color);
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 5px;
      margin-top: 5px;
}

.disclaimer-section {
      background-color: var(--pattern-background-color);
      padding: 10px;
      margin: 10px;
      margin-left: 0px;
      margin-top: 20px;
      border-radius: 5px;
}

#return-to-database {
      margin-left: 25px;
}

.project-purpose {
      background-color: hsl(120, 20%, 25%);
}

.number {
      display: inline-block;
      color: hsl(199, 100%, 45%);
}

a {
      color: lightblue;
}

.copyNotification {
      position: absolute;
      background-color: #333;
      color: #fff;
      padding: 10px;
      border-radius: 4px;
      font-size: 14px;
      animation-duration: 2s;
      animation-name: floatUp;
      animation-fill-mode: forwards;
      pointer-events: none;
}

@keyframes floatUp {
      0% {
            opacity: 1;
            transform: translate(0, 0);
      }
      100% {
            opacity: 0;
            transform: translate(0, -50px);
      }
}

.gimmick.tag-input {
      background-color: hsl(272, 20%, 50%);
}

.non-projectile.tag-input {
      background-color: hsl(0, 20%, 50%);
}

.special.tag-input {
      background-color: hsl(313, 30%, 50%);
}

.flying.tag-input {
      background-color: hsl(201, 30%, 50%);
}

.shape.tag-input {
      background-color: hsl(47, 7%, 59%);
}

.emission.tag-input {
      background-color: hsl(106, 20%, 50%);
}

.descriptive.tag-input {
      background-color: hsl(32, 40%, 59%);
}

.enemy-type.tag-input {
      background-color: hsl(0, 40%, 50%);
}

.movement.tag-input {
      background-color: hsl(44, 59%, 67%);
}

#welcome-text {
      margin: 0;
      padding: 0;
      line-height: 2em;
      text-align: center;
      text-shadow: black 0px 0px 20px;
}

.hint {
      font-size: 14px;
      font-weight: 900;
      font-style: italic;
      -webkit-text-fill-color: white; /* Will override color (regardless of order) */
      text-shadow: red -1px -1px 1px, red 1px 1px 1px, red -1px 1px 1px, red 1px -1px 1px;
}
